
@model List<CourseOnline.Models.Category>
<div class="cd-dropdown-wrapper">
    <a class="cd-dropdown-trigger" href="#0"><i class="fa-solid fa-maximize mx-1" style="color: white"></i>Danh mục</a>
    <nav class="cd-dropdown">
        <h2>Title</h2>
        <a href="#0" class="cd-close">Close</a>
        <ul class="cd-dropdown-content">
            @foreach (var item in Model.Where(x => x.ParentId == null))
            {
                var child = Model.Where(x => x.ParentId == item.Id);
                <li class="has-children">
                    <a href="/Course/ListCourse?id=@item.Id">@item.Name</a>
                    @if (child.Count() > 0)
                    {
                        <ul class="cd-secondary-dropdown is-hidden">
                            @foreach (var childItem in child)
                            {
                                var childs = Model.Where(x => x.ParentId == childItem.Id);
                                <li class="has-children">
                                    <ul class="is-hidden" style="padding:0px">
                                        <li><a href="/Course/ListCourse?id=@childItem.Id" style="color: #08d1e4">@childItem.Name</a></li>
                                        @foreach (var items in childs)
                                        {
                                            <li><a href="/Course/ListCourse?id=@items.Id">@items.Name</a></li>
                                        }

                                    </ul>
                                </li>
                            }
                        </ul>
                    }                    
                </li>
            }
        </ul>
    </nav>
</div> 