@model List<CourseOnline.Models.Cours>
@{
    ViewBag.Title = "Kết quả tìm kiếm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .bsd {
        background-color: #f6f6f6;
    }

    .course-image {
        background-color: #cccccc;
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
</style>
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Nghệ Thuật - Đời Sống</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item">@Html.ActionLink("Home", "Index", "Home", null, new { @Class = "text-white" })</li>
                        <li class="breadcrumb-item text-white active" aria-current="page">@Html.ActionLink("About", "About", "Home", null, new { @Class = "text-white" })</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-xxl py-5">
    <div class="container">        
        <div class="row g-4 justify-content-center">
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="course-item bg-light">
                            <div class="position-relative overflow-hidden">
                                <div class="course-image" style="background-image: url(@item.Image)">

                                </div>
                                <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                                    <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                                    @*@Html.ActionLink("Read More", "Detail", "Course", new { @class = "flex-shrink-0 btn btn-sm btn-primary px-3 border-end", @style = "border-radius: 30px 0 0 30px;" })*@
                                    <a href="/course/detail?id=@item.Id" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                                </div>
                            </div>
                            <div class="text-center p-4 pb-0">
                                <h3 class="mb-0">$@item.Price</h3>
                                <div class="mb-3">
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small class="fa fa-star text-primary"></small>
                                    <small>(123)</small>
                                </div>
                                <h5 class="mb-2" style="height: 60px">@item.CourseName</h5>
                            </div>
                            <div class="d-flex border-top">
                                <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>1.49 Hrs</small>
                                <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30 Students</small>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div style="margin: 0 auto; width:30%">
                    <img style="width:100%;" id="keywordNotFoundIcon" src="https://res.cloudinary.com/phamthanghehe/image/upload/v1648631366/mjlppfjawxbpxc6mbced.png" alt="Course not found">
                    <p style="font-size: 40px; color: #07bbcc; text-align:center">Không tìm thấy khóa học nào </p>
                </div>
            }
        </div>
    </div>
</div>