:root {
    --primary: #06BBCC;
    --light: #F0FBFC;
    --dark: #181d38;
}

.fw-medium {
    font-weight: 600 !important;
}

.fw-semi-bold {
    font-weight: 700 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

    #spinner.show {
        transition: opacity .5s ease-out, visibility 0s linear 0s;
        visibility: visible;
        opacity: 1;
    }


/*** Button ***/
.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    transition: .5s;
}

    .btn.btn-primary,
    .btn.btn-secondary {
        color: #FFFFFF;
    }

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 0px;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link.active {
        color: var(--primary);
    }

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 50px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        margin-top: 0;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .dropdown-menu.fade-down {
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header carousel ***/
@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }

        .header-carousel .owl-carousel-item img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

    .header-carousel .owl-nav .owl-prev,
    .header-carousel .owl-nav .owl-next {
        margin: 7px 0;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        background: transparent;
        border: 1px solid #FFFFFF;
        font-size: 22px;
        transition: .5s;
    }

        .header-carousel .owl-nav .owl-prev:hover,
        .header-carousel .owl-nav .owl-next:hover {
            background: var(--primary);
            border-color: var(--primary);
        }

.page-header {
    background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7)), url(../img/carousel-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(15, 23, 43, .7);
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

    .section-title::before {
        position: absolute;
        content: "";
        width: calc(100% + 80px);
        height: 2px;
        top: 4px;
        left: -40px;
        background: var(--primary);
        z-index: -1;
    }

    .section-title::after {
        position: absolute;
        content: "";
        width: calc(100% + 120px);
        height: 2px;
        bottom: 5px;
        left: -60px;
        background: var(--primary);
        z-index: -1;
    }

    .section-title.text-start::before {
        width: calc(100% + 40px);
        left: 0;
    }

    .section-title.text-start::after {
        width: calc(100% + 60px);
        left: 0;
    }


/*** Service ***/
.service-item {
    background: var(--light);
    transition: .5s;
}

    .service-item:hover {
        margin-top: -10px;
        background: var(--primary);
    }

    .service-item * {
        transition: .5s;
    }

    .service-item:hover * {
        color: var(--light) !important;
    }


/*** Categories & Courses ***/
.category img,
.course-item img {
    transition: .5s;
}

.category a:hover img,
.course-item:hover img {
    transform: scale(1.1);
}


/*** Team ***/
.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}


/*** Testimonial ***/
.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

@media (min-width: 768px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 200px;
    }
}

@media (min-width: 992px) {
    .testimonial-carousel::before,
    .testimonial-carousel::after {
        width: 300px;
    }
}

.testimonial-carousel .owl-item .testimonial-text,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primary) !important;
}

    .testimonial-carousel .owl-item.center .testimonial-text * {
        color: #FFFFFF !important;
    }

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 1px solid #CCCCCC;
    transition: .5s;
}

    .testimonial-carousel .owl-dot.active {
        background: var(--primary);
        border-color: var(--primary);
    }


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

    .footer .btn.btn-social:hover {
        color: var(--primary);
    }

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

    .footer .btn.btn-link::before {
        position: relative;
        content: "\f105";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-right: 10px;
    }

    .footer .btn.btn-link:hover {
        letter-spacing: 1px;
        box-shadow: none;
    }

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

    .footer .copyright a {
        color: var(--light);
    }

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

    .footer .footer-menu a:last-child {
        margin-right: 0;
        padding-right: 0;
        border-right: none;
    }

.login {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.login {
    font-size: 13px;
    color: #949494;
    overflow: hidden;
    line-height: 1.4;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.justify-betweeen {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.w-half {
    width: 50%;
}

.flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

input {
    background-color: #eee;
    font-size: 0.938rem;
    min-height: 2rem;
    padding: 0.188rem 0.5rem;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(200, 200, 200, 0.3);
    box-shadow: inset 0 1px 1px rgba(200, 200, 200, 0.3);
    width: 100%;
}

    input::-webkit-input-placeholder {
        color: #949494;
    }

    input:-ms-input-placeholder {
        color: #949494;
    }

    input::-ms-input-placeholder {
        color: #949494;
    }

    input::placeholder {
        color: #949494;
    }

.bg-img {
    background-image: url('./img/background-img.jpg');
    background-size: cover;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.login-page {
    width: 100%;
}

.login__caption {
    font-size: 0.813;
}

.login__url {
    color: #2b6dad;
    text-decoration: none;
}

    .login__url:hover {
        text-decoration: underline;
    }

.login__url--forgot {
    color: #949494;
}

.login__social {
    border-right: 1px solid #e6e6e6;
    padding-right: 1.5rem;
}

.login__input {
    padding-left: 0.5rem;
}

.login__input--email {
    margin-bottom: 1.5rem;
}

.login__input--password {
    margin-bottom: 0.5rem;
}

.login__label {
    color: #333;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.login__submit {
    background-color: #3e78ad;
    border: 1px solid #3e78ad;
    -webkit-box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.6);
    box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.6);
    padding: 0.25rem 0.438rem;
    color: #fff;
    font-weight: 500;
    border-radius: 3px;
    font-size: 0.938rem;
}

    .login__submit:hover {
        opacity: 0.7;
    }

.modal-quora {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 650px;
    flex: 0 0 650px;
    margin: 15px auto;
    margin-bottom: 5.5rem;
    border: 1px solid #e2e2e2;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
}

.modal-quora__body {
    background-color: #fff;
    padding: 1rem;
}

.modal-quora__footer {
    background-color: #fafafa;
    padding: 1rem;
    border-top: 1px solid #e2e2e2;
}

.logo__caption {
    font-size: 1.188rem;
    font-weight: 400;
    margin-top: 0.5rem;
    margin-bottom: 3.75rem;
}

.logo__img {
    height: 120px;
}

.btn:hover {
    opacity: 0.7;
}

.btn--facebook {
    background-color: #507cc0;
}

.btn--google {
    background-color: #df4930;
}

.btn__icons {
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    left: 1rem;
}

.icon-btn {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    border-radius: 3px;
    margin-bottom: 1rem;
    position: relative;
    padding-left: 2rem;
    padding-right: 0.5rem;
}

.content {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px
}



.registred {
    position: relative;
    width: 200px;
    height: 200px;
    background: #FFF;
    display: none;
    margin: 100px auto;
    text-align: center;
}

{
    width: 100px;
    background: #3FA6FD;
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
    position: absolute;
    bottom: 18px;
    right: 18px;
    color: #FFF;
}



.login--content {
    display: none;
}

.register--content, .login--content {
    width: 500px;
    margin: 100px auto;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}


.floating-label {
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 20px;
    font-size: 11px;
    color: #B3BBCE;
    transition: 0.2s ease all;
}

.email, .password, .name {
    position: relative;
    margin: 20px 0;
}

.inputText {
    font-size: 12px;
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #B3BBCE;
    outline: none;
    color: #9390A1;
    font-weight: 900;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label {
    top: 2px;
    bottom: 10px;
    left: 0px;
    font-size: 11px;
    opacity: 1;
    color: #3FA6FD;
}


.social {
    width: 100%;
    background: #3B5999;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    a

{
    text-decoration: none;
    color: #FFF;
}

span {
    i

{
    color: #fff;
    float: left;
    line-height: 45px;
    margin-left: 26px;
}

}
}


.via-email {
    text-align: center;
    padding: 20px 0;
    color: $Bali-Hai;
}



input[type="submit"] {
    width: 100%;
    position: relative;
    height: 50px;
    background-color: #3FA6FD;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 24px 0 16px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    font-weight: 100;
}



.login--button {
    position: absolute;
    top: -30px;
    right: 0;
    a

{
    background: #3FA6FD;
    padding: 7px 14px;
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
}


textarea:focus, input:focus {
    outline: none !important;
}









.content {
    padding: 7rem 0;
}



.half, .half .container > .row {
    height: 100vh;
    min-height: 900px;
}

@media (max-width: 991.98px) {
    .half .bg {
        height: 200px;
    }
}

.half .contents {
    background: #f6f7fc;
}

.half .contents {
    width: 80%;
}

.half .bg {
    width: 20%;
}

@media (max-width: 991.98px) {
    .half .contents, .half .bg {
        width: 100%;
    }
}

.half .contents .form-control, .half .bg .form-control {
    border: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    height: 54px;
    background: #fff;
}

    .half .contents .form-control:active, .half .contents .form-control:focus, .half .bg .form-control:active, .half .bg .form-control:focus {
        outline: none;
        -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    }

.half .bg {
    background-size: cover;
    background-position: center;
}

.half a {
    color: #888;
    text-decoration: underline;
}

.half .btn {
    height: 54px;
    padding-left: 30px;
    padding-right: 30px;
}

.half .forgot-pass {
    position: relative;
    top: 2px;
    font-size: 14px;
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
}

    .control .caption {
        position: relative;
        top: .2rem;
        color: #888;
    }

    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border-radius: 4px;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}

.control input:checked ~ .control__indicator {
    background: #fb771a;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #fb8633;
}

.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.9;
    pointer-events: none;
}

.control__indicator:after {
    font-family: 'icomoon';
    content: '\e5ca';
    position: absolute;
    display: none;
    font-size: 16px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.control input:checked ~ .control__indicator:after {
    display: block;
    color: #fff;
}

.control--checkbox .control__indicator:after {
    top: 50%;
    left: 50%;
    margin-top: -1px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

.control--checkbox input:disabled:checked ~ .control__indicator {
    background-color: #7e0cf5;
    opacity: .2;
}
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
