
@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Danh Mục</h1>
                <nav aria-label="breadcrumb">
                    <span class="text-white">Tìm những chủ đề mà bạn yêu thích</span>
                    <p class="text-white">Có hơn 2000 khoá học với 14 ngành khác nhau để bạn có thể lựa chọn</p>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
    <h6 class="section-title bg-white text-center text-primary px-3">CATEGORIES</h6>
    <h1 class="mb-5">Courses Categories</h1>
</div>



<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.1s">
            <div class="team-item bg-light" style="background-color : #06bbcc">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="~/Content/img/1.jpg" alt="" style="width:363px;height:363px">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                </div>
                <div class="text-center p-4 mt-2">
                    <h5 class="mb-0">Ngoại Ngữ</h5>
                    <small>386 Khóa học</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="~/Content/img/2.png" alt="" style="width:363px;height:363px">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                </div>
                <div class="text-center p-4 mt-2">
                    <h5 class="mb-0">Nghệ Thuật-Đời Sống</h5>
                    <small>214 Khóa Học</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="~/Content/img/3.png" alt="" style="width:363px;height:363px">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                </div>
                <div class="text-center p-4 mt-2">
                    <h5 class="mb-0">Phát Triển Bản Thân</h5>
                    <small>209 Khóa Học</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="~/Content/img/4.png" alt="" style="width:363px;height:363px">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                </div>
                <div class="text-center p-4 mt-2">
                    <h5 class="mb-0">Kinh Doanh-Khởi Nghiệp</h5>
                    <small>Designation</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="~/Content/img/5.jpg" alt="" style="width:363px;height:363px">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                </div>
                <div class="text-center p-4 mt-2">
                    <h5 class="mb-0">Thiết Kế</h5>
                    <small>158 Khóa Học</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="~/Content/img/7.jpg" alt="" style="width:363px;height:363px">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                </div>
                <div class="text-center p-4 mt-2">
                    <h5 class="mb-0">Hôn Nhân-Gia Đình</h5>
                    <small>156 Khóa Học</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="~/Content/img/6.jpg" alt="" style="width:363px;height:363px">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                </div>
                <div class="text-center p-4 mt-2">
                    <h5 class="mb-0">Lập Trình-CNTT</h5>
                    <small>156 Khóa Học</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="~/Content/img/8.jpg" alt="" style="width:363px;height:363px">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                </div>
                <div class="text-center p-4 mt-2">
                    <h5 class="mb-0">Thể Thao-Sức Khỏe</h5>
                    <small>146 Khóa Học</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="~/Content/img/9.jpg" alt="" style="width:363px;height:363px">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                </div>
                <div class="text-center p-4 mt-2">
                    <h5 class="mb-0">Kiến Thức Chuyên Ngành</h5>
                    <small>126 Khóa Học</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="~/Content/img/10.jpg" alt="" style="width:363px;height:363px">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                </div>
                <div class="text-center p-4 mt-2">
                    <h5 class="mb-0">Marketing</h5>
                    <small>126 Khóa Học</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="~/Content/img/11.jpg" alt="" style="width:363px;height:363px">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                </div>
                <div class="text-center p-4 mt-2">
                    <h5 class="mb-0">Tin Học Văn Phòng</h5>
                    <small>83 Khóa Học</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="~/Content/img/12.jpg" alt="" style="width:363px;height:363px">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                </div>
                <div class="text-center p-4 mt-2">
                    <h5 class="mb-0">Đầu Tư</h5>
                    <small>72 Khóa Học</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="~/Content/img/13.jpg" alt="" style="width:363px;height:363px">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                </div>
                <div class="text-center p-4 mt-2">
                    <h5 class="mb-0">Âm Nhạc</h5>
                    <small>71 Khóa Học</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="~/Content/img/14.jpg" alt="" style="width:363px;height:363px">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                </div>
                <div class="text-center p-4 mt-2">
                    <h5 class="mb-0">Nhiếp Ảnh</h5>
                    <small>50 Khóa Học</small>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="row">
        <div class="col-lg-3 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="~/Content/img/5.jpg" alt="" style="width:363px;height:363px">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                </div>
                <div class="text-center p-4 mt-2">
                    <h5 class="mb-0">Thiết Kế</h5>
                    <small>158 Khóa Học</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="~/Content/img/7.jpg" alt="" style="width:363px;height:363px">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                </div>
                <div class="text-center p-4 mt-2">
                    <h5 class="mb-0">Hôn Nhân-Gia Đình</h5>
                    <small>156 Khóa Học</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="~/Content/img/6.jpg" alt="" style="width:363px;height:363px">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                </div>
                <div class="text-center p-4 mt-2">
                    <h5 class="mb-0">Lập Trình-CNTT</h5>
                    <small>156 Khóa Học</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="~/Content/img/8.jpg" alt="" style="width:363px;height:363px">
                </div>
                <div class="text-center p-4 mt-2">
                    <h5 class="mb-0">Thể Thao-Sức Khỏe</h5>
                    <small>146 Khóa Học</small>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="~/Content/img/9.jpg" alt="" style="width:363px;height:363px">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                </div>
                <div class="text-center p-4 mt-2">
                    <h5 class="mb-0">Kiến Thức Chuyên Ngành</h5>
                    <small>126 Khóa Học</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="~/Content/img/10.jpg" alt="" style="width:363px;height:363px">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                </div>
                <div class="text-center p-4 mt-2">
                    <h5 class="mb-0">Marketing</h5>
                    <small>126 Khóa Học</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="~/Content/img/11.jpg" alt="" style="width:363px;height:363px">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                </div>
                <div class="text-center p-4 mt-2">
                    <h5 class="mb-0">Tin Học Văn Phòng</h5>
                    <small>83 Khóa Học</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="~/Content/img/12.jpg" alt="" style="width:363px;height:363px">
                </div>
                <div class="text-center p-4 mt-2">
                    <h5 class="mb-0">Đầu Tư</h5>
                    <small>72 Khóa Học</small>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="~/Content/img/13.jpg" alt="" style="width:363px;height:363px">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                </div>
                <div class="text-center p-4 mt-2">
                    <h5 class="mb-0">Âm Nhạc</h5>
                    <small>71 Khóa Học</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 wow fadeInUp mb-4" data-wow-delay="0.1s">
            <div class="team-item bg-light">
                <div class="overflow-hidden">
                    <img class="img-fluid" src="~/Content/img/14.jpg" alt="" style="width:363px;height:363px">
                </div>
                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                </div>
                <div class="text-center p-4 mt-2">
                    <h5 class="mb-0">Nhiếp Ảnh</h5>
                    <small>50 Khóa Học</small>
                </div>
            </div>
        </div>
    </div>*@






