
@{
    ViewBag.Title = "Index2";
}

<h2>Index2 pham duc thang</h2>
<h2>Index2 ha nhat k22</h2>
<h2>Index2 nhat mom cu</h2>
<h2>Index2 ha nhat k22</h2>
<h2>Index2 ha nhat k22</h2>
<h2>Index2 ha nhat k22</h2>
<h2>Index2 ha nhat thích mấy em k10. k21</h2>

