@{
    ViewBag.Title = "Index2";
}

<h2>Index2 pham duc thang</h2>
<h2>Index2 ha nhat k22</h2>
<h2>Index2 nhat mom cu</h2>
<h2>Index2 ha nhat k22</h2>
<h2>Index2 ha nhat k22</h2>
<h2>Index2 ha nhat k22</h2>
<h2>Cu dat dep troai</h2>
<h2>dung an lone</h2>
<h2>Okie</h2>

