
@{
    ViewBag.Title = "Login";
}

    <div class="bg-img login-page flex items-center justify-center">
        <div class="modal-quora">
            <div class="modal-quora__body">
                <div class="logo flex flex-col items-center justify-center">
                    <img src="logo.png" alt="Logo" class="logo__img" />
                    <h2 class="logo__caption">
                        Tempat berbagi pengetahuan dan memahami dunia lebih baik
                    </h2>
                </div>
                <div class="login__form flex">
                    <div class="login__social w-half flex-col flex">
                        <button class="btn btn--google flex items-center justify-center">
                            <span class="btn__icons">

                                <img src="~/Content/icons/google.png" />
                            </span>
                            Continue with Google
                        </button>
                        <button class="btn btn--facebook flex items-center justify-center">
                            <span class="btn__icons">

                                <img src="~/Content/icons/facebook.png" />
                            </span>
                            Continue with Facebook
                        </button>
                        <p class="login__caption">
                            Register by Email. By continuing, you indicate that you have read and agree to the BietTuot Service Terms and Privacy Policy and agree that your information is accurate.
                        </p>
                    </div>
                    <div class="login__input w-half">
                        
                        <form action="" class="form-input">
                            <p class="login__label">Email</p>
                            <input type="text"
                                   class="login__input--email"
                                   placeholder="Surel" />
                            <p class="login__label">Password</p>
                            <input type="password"
                                   class="login__input--password"
                                   placeholder="Sandi" />
                            <div class="flex justify-betweeen">
                                <a href="#" class="login__url login__url--forgot">Lupa Sandi?</a>
                                <button class="login__submit">Masuk</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-quora__footer flex flex-col justify-center items-center">
                <div class="flex">
                    <a href="#" class="footer__url">Tentang Kami</a>
                    <a href="#" class="footer__url">Bahasa (Languages)</a>
                    <a href="#" class="footer__url">Karier</a>
                    <a href="#" class="footer__url">Bisnis</a>
                    <a href="#" class="footer__url">Privasi</a>
                    <a href="#" class="footer__url">Ketentuan</a>
                    <a href="#" class="footer__url">Kontak</a>
                </div>
                <p>© Quora Inc. 2020</p>
            </div>
        </div>
    </div>
    <!-- ADDITIONAL CODE -- start YOU MIGHT NOT NEEDED -->

</html>


